*
{
    h2{
        background-color:gold;
    }

    h1{
        background-color: yellowgreen;
    }
    text-align: center;
    
    body {
        font-family: Arial, sans-serif;
        background-color: azure;
    }
    
    .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: orangered;
    }
    
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    li:hover {
        background-color: #f5f;
        cursor: pointer;

        }
    button{
        background-color: grey;
    }

        
    
}